*{
margin: 0;
padding: 0;
}
.title {
    text-align: center;
    background-color: yellow;
}

#list-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.beer img {
    width: 200px;
    height: 400px;
}
.seleceted-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
". image ."
". country ."
;
text-align: center;
}
.seleceted-container p{
grid-area: country;
}
.seleceted-container img{
grid-area: image;
justify-self: center;
}
#detail-view img{
width: 300px;
height: 600px;
}